<div class="jumbotron">
  <div class="container">
    	<h1>Bienvenido A Ningun Pereira</h1>
    	<br>
    	<p>Aquí puedes hacer tus denuncias para mejorar la ciudad de Pereira</p>
    	<br>
    	<%= link_to "Regístrate", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

