@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
body { padding-top: 70px; 
	.navbar-header {
		margin-top: 20px;
		font-size: 24px;

		a {
			color: black;
			text-decoration: none;
		}

	}
	.alert {
			margin-top: 5px;
		}

		img {
				vertical-align: middle;		
		}


		.navbar-nav.navbar-right:last-child {
					margin-right: -15px;
					a{
						color: black;
						text-decoration: none;
					}
				}

		.navbar-default .navbar-nav > li > a {
							color: #777777;
							margin-top: 12px;
							}

		.media-heading {
			margin: 7px 0 5px;
			}

			.media:first-child {
						margin-top: 15px;
						}
}

.img.foto-perfil{
			border-radius: 50%;
				width: 45px;
				height: 45px;
				}

.img.foto-denuncia{
				margin: 10px 10px;
			}	

.container-body {
	margin-top: 50px;
}	

.a.sin-decoracion{
	        color: black;
			text-decoration: none;		
}